header {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #140c35;
}

.catalogo {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en filas */
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.imagen {
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.imagen img {
    width: 100%;
    display: block;
}

.imagen:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.carousel {
    width: 100%;
    height: auto; /* Deja que el alto sea ajustado a las imágenes */
    max-height: 450px; /* Controla el tamaño máximo en altura */
    position: relative;
    overflow: hidden;
    border-radius: 0%;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%; /* Imagen ocupa todo el carrusel */
    flex-shrink: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #0d6b88;
}

.hero {
    background-image: url('https://www.yamaha.com/themes/common/images/default.jpg'); /* Cambia la URL por una imagen de Yamaha */
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin: 0;
}

.section {
    padding: 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 15px;
}

.navigation {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: #032852; /* Color de fondo del menú */
    padding: 10px 10px; /* Espaciado dentro del menú */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombras opcionales para el menú */
    display: flex;
    justify-content: flex-start;
    align-items: left;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 0px;
}

.navigation img {
    width: 40px; /* Ajusta el tamaño del logo */
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 5px;
    border: 3px solid #01a6c4;
    border-radius: 5px;
    margin-left: 10px;
}

.search-form label {
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 5px;
}

.btn {
    background-color: #0d6b88;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
  }
  
  .btn:hover {
    background-color: #01232e;
    color: #fff;
  }

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #032852;  /* Fondo oscuro */
    color: white;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 100px; /* Tamaño ajustable del logo */
}

.footer-links {
    margin: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0d6b88; /* Color de hover */
}

.footer-socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    color: white;
    font-size: 20px;
    margin: 0 15px;
    transition: color 0.3s;
}

.social-icon:hover {
     color: #0d6b88;/* Color de hover */
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card {
    width: calc(100% / 3);
    margin: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.card h2 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: #1a1249;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/* Estilos para pantallas de tamaño grande (desktop) */
@media only screen and (min-width: 1200px) {
    .imagen {
        width: 300px;
    }
    .card {
        width: calc(100% / 3);
    }
}

/* Estilos para pantallas de tamaño medio (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .imagen {
        width: 250px;
    }
    .card {
        width: calc(100% / 2);
    }
}

/* Estilos para pantallas de tamaño pequeño (móviles) */
@media only screen and (max-width: 767px) {
    .imagen {
        width: 150px;
    }
    .card {
        width: 100%;
    }
}

/* Estilos para el blog */
.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #626692;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: var(--dark-color);
}


.directores {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 60px 0;
    border-radius: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.directores {
    background-color: #121212;  /* Fondo oscuro */
    color: white;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.directores-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.directores-logo img {
    width: 100px; /* Tamaño ajustable del logo */
}

.directores-links {
    margin: 20px;
}

.directores-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.directores-links a:hover {
    color: #101111; /* Color de hover */
}

.directores-socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    color: white;
    font-size: 30px;
    margin: 0 15px;
    transition: color 0.3s;
}

.social-icon:hover {
     color: #0e0e0f;/* Color de hover */
}

.directores-bottom {
    margin-top: 20px;
    font-size: 14px;
}

.directores-bottom p {
    margin: 0;
    font-size: 20px;
}
